<div class="body">
  <!-- <smartAssist-databinding></smartAssist-databinding> -->
  <!-- <smartAssist-directives-demo></smartAssist-directives-demo> -->
   <!-- <smartAssist-users></smartAssist-users> -->
   <!-- <smartAssist-pipes-demo></smartAssist-pipes-demo> -->
   <!-- <smartAssist-parent-demo></smartAssist-parent-demo> -->
   <!-- <smartAssist-math-demo1></smartAssist-math-demo1><hr/>
   <smartAssist-math-demo2></smartAssist-math-demo2> -->
   <smartAssist-http-demo1></smartAssist-http-demo1>
</div>
