<!-- <h2 class="text-center">This is Home Component</h2>
<hr/> -->

<!-- <smartAssist-angular-material-demo></smartAssist-angular-material-demo> -->
<!-- <smartAssist-http-demo1></smartAssist-http-demo1> -->
<!-- <smartAssist-comment-demo></smartAssist-comment-demo> -->
<!-- <smartAssist-employee-list></smartAssist-employee-list> -->
<!-- <smartAssist-observable-demo1></smartAssist-observable-demo1> -->
<!-- <smartAssist-observable-demo2></smartAssist-observable-demo2> -->
<!-- <smartAssist-subject-demo1></smartAssist-subject-demo1> -->
 <!-- <smartAssist-directives-demo></smartAssist-directives-demo>  -->
 <!-- <smartAssist-user-list></smartAssist-user-list> -->
 <!-- <smartAssist-signal-demo></smartAssist-signal-demo> -->
 <smartAssist-counter></smartAssist-counter>


