<div class="col-sm-4 offset-4">
   <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXZ3IntbJ5izhGtL3CiU1sw8hDM4sh3Bxumw&s"
          class="card-img-top" alt="...">
        <div class="card-body text-center" smartAssistZoomout>
          <h5 class="card-title">{{user.username}}</h5>
          <p class="card-text">{{user.id}}</p>
          <p class="card-text">{{user.name}}</p>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.phone}}</p>
          <p class="card-text">{{user.address.city}}</p>
        </div>
      </div>
</div>
